<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @branch.address %>
</p>

<p>
  <strong>Store manager:</strong>
  <%= @branch.store_manager %>
</p>

<p>
  <strong>Sales number:</strong>
  <%= @branch.sales_number %>
</p>

<p>
  <strong>Region:</strong>
  <%= @branch.region %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
