<h1>Listing employees</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Title</th>
      <th>Salary</th>
      <th>Branch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.user %></td>
        <td><%= employee.name %></td>
        <td><%= employee.address %></td>
        <td><%= employee.email %></td>
        <td><%= employee.title %></td>
        <td><%= employee.salary %></td>
        <td><%= employee.branch %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
