<%= form_for(@region_manager) do |f| %>
  <% if @region_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region_manager.errors.count, "error") %> prohibited this region_manager from being saved:</h2>

      <ul>
      <% @region_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :region_id %><br>
    <%= f.text_field :region_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
