<div class="wrap">
<div class="header">
	<div class="logo">
		<a href="/home"><img src="<%= asset_path 'logo.png' %>" alt=""> </a>
	</div>
	<div class="header-right">
	<div class="contact-info">
		<ul>
			<li>Call to Order</li>
			<li>(+1) 412-456-7890</li>
		</ul>
	</div>
	 </div>
    <div class="clear"></div>
</div>
<div class="hdr-btm">
<div class="hdr-btm-left">
	<div class="search">
	  <%= form_tag home_index_path, method: :get do  %>
	      <input type="text" name="keyword" placeholder="type in the keywords..." />
	      <input type="submit" value="Search" name="search" />
	  <% end %>
	</div>
	<div class="txt-right">
            
	</div>
	<div class="clear"></div>
</div>
</div>
<div class="main">
<div class="sidebar">
<div class="s-main">
	<div class="s_hdr">
		<h2>Categories</h2>
	</div>
	<div class="text1-nav">
		<ul>
			<li><%= link_to "Cell Phone", home_index_path(Kind: "cell") %></li>
			<li><%= link_to "Computer", home_index_path(Kind: "computer") %></li>
			<li><%= link_to "Tablet", home_index_path(Kind: "tablet") %></li>
	    </ul>
	</div>
</div>
</div>
    
<div class="content">
	<div class="cnt-main">
		<div class="s_btn">
                    <ul>
                        <li><h2>Start Your Digits From Here</h2></li>
                    <img src="<%= asset_path 'bigsale2.jpg' %>" width="300" height="95" alt="bigsale"/> 
                    </ul>
		</div>
	<div class="grid">
	<div class="grid-img">
		<a href="details.html"><img src="<%= asset_path 'pic1.jpg' %>" alt=""/></a>
	</div>
	<div class="grid-para">
		<h2>Special Offer</h2>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;128GB = $399</h3> 
                <p>iPad mini small.With advancements like Touch ID and iOS 8.Height: 7.87 inches & Width: 5.3 inches.
                7.9-inch (diagonal) LED-backlit Multi-Touch display with IPS technology </p>
		<div class="btn top">
		<a href="details.html">Details&nbsp;<img src="<%= asset_path 'marker2.png' %>"></a>
		</div>
	</div>
	<div class="clear"></div>
        </div>
        </div>
    <!--best discount-->
    <div class="cnt-main btm">
            <img src="<%= asset_path 'hotprice.png' %>" width="100" height="80"alt="bigdis"/>
                    <div class="section group">
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="<%= asset_path 'pic2.jpg' %>" alt=""/></a>
					 <a href="details.html"><h3>Samsung UN40H5203 40-Inch 1080P Smart LED TV</h3></a>
                                         <div class="price">
                                            <h4><strike>$529.99</strike></h4>
                                            <h5>$329.79</h5>
                                        </div>          
				    <div class="clear"></div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="<%= asset_path 'pic8.jpg' %>" alt=""/></a>
					 <a href="details.html"><h3>Acer C720 Chromebook (11.6-Inch, 2GB)</h3></a>
					 <div class="price">
                                            <h4><strike>$299.99</strike></h4>
                                            <h5>$147.69</h5>
                                        </div>   
				    <div class="clear"></div>
				 </div>
				<div class="grid_1_of_3 images_1_of_3">	
					 <a href="details.html"><img src="<%= asset_path 'pic5.jpg' %>" alt=""/></a>
					 <a href="details.html"><h3>Nikon D7000 16.2 Megapixel Digital SLR Camera with 18-55mm Lens</h3></a>
					 <div class="price">
                                            <h4><strike>$949.47</strike></h4>
                                            <h5>$699.29</h5>
                                        </div>
				    <div class="clear"></div>
				 </div>			
				</div>
                        </div>
    <!-- best seller-->
        <div class="cnt-main btm">
            <img src="<%= asset_path 'bestseller.png' %>" width="130" height="70"alt="bestseller"/>
                    <div class="section group">
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="<%= asset_path 'pic2.jpg' %>" alt=""/></a>
					 <a href="details.html"><h3>Samsung UN40H5203 40-Inch 1080P Smart LED TV</h3></a>
                                         <div class="price">
                                            <h4><strike>$529.99</strike></h4>
                                            <h5>$329.79</h5>
                                        </div>          
				    <div class="clear"></div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="<%= asset_path 'pic3.jpg' %>" alt=""/></a>
					 <a href="details.html"><h3>Samsung UN24H4000 24-Inch 720P LED TV</h3></a>
					 <div class="price">
                                            <h4><strike>$229.99</strike></h4>
                                            <h5>$127.69</h5>
                                        </div>   
				    <div class="clear"></div>
				 </div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="<%= asset_path 'pic4.jpg' %>" alt=""/></a>
					 <a href="details.html"><h3>LG 55EC9300 55-Inch 1080P 3D Curved OLED TV</h3></a>
					 <div class="price">
                                            <h4><strike>$3465</strike></h4>
                                            <h5>$2899.69</h5>
                                        </div> 
				    <div class="clear"></div>
				 </div>
				<div class="grid_1_of_3 images_1_of_3">	
					 <a href="details.html"><img src="<%= asset_path 'pic5.jpg' %>" alt=""/></a>
					 <a href="details.html"><h3>Nikon D7000 16.2 Megapixel Digital SLR Camera with 18-55mm Lens</h3></a>
					 <div class="price">
                                            <h4><strike>$949.47</strike></h4>
                                            <h5>$699.29</h5>
                                        </div>
				    <div class="clear"></div>
				 </div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="<%= asset_path 'pic6.jpg' %>" alt=""/></a>
					 <a href="details.html"><h3>Samsung Galaxy Tab 3 Lite Android 4.2 Jelly Bean OS(7-Inch, White)</h3></a>
					 <div class="price">
                                            <h4><strike>$169.82</strike></h4>
                                            <h5>$133.99</h5>
                                        </div>
				    <div class="clear"></div>
				 </div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="<%= asset_path 'pic7.jpg' %>" alt=""/></a>
					 <a href="details.html"><h3>Dell Inspiron i3148-6840sLV 11.6-Inch 2 in 1 Touchscreen Laptop</h3></a>
					 <div class="price">
                                            <h4><strike>$699.82</strike></h4>
                                            <h5>$493.32</h5>
                                        </div>
				    <div class="clear"></div>
				 </div>
				</div>
                        </div>
</div>
</div>
</div>
<div class="clear"></div>
<div class="footer-bg">
<div class="footer">
	<div class="footer1">
            <p>All Rights Reserved | Design by&nbsp;:&nbsp;Xiujun Ling, Jie Wen, Yu Zhang</p>
	</div>
</div>
</div>