<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :stock_amount %><br>
    <%= f.number_field :stock_amount %>
  </div>
  <div class="field">
    <%= f.label :sale_amount %><br>
    <%= f.number_field :sale_amount %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :discount_rate %><br>
    <%= f.text_field :discount_rate %>
  </div>
  <div class="field">
    <%= f.label :discount_price %><br>
    <%= f.text_field :discount_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
